<div class="row">
  <div>
    <p class="page-header pmo-header title-p">外协管理-外协审批</p>
  </div>
</div>
<div class="row">
  <div class="col-md-4 col-lg-4">
    <div class="form-group input-group">
      {{input value=searchWordInput placeholder='请按小组名，组等信息模糊搜索' key-up="searchedItemFromWord"  class="search-input form-control"}}
      <span class="input-group-btn">
      <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i>
      </button>
  </span>
    </div>
  </div>
  <div class="col-md-8 col-lg-8 img-height">
    {{#if session.isSuper}}
      <li class="col-left-curor" title="导出预算列表"> <a href="index.php?m=Team&a=exportTeamBudget"><span class="badge badge-success">导出预算列表</span></a> </li>
      <li class="col-left-curor" title="添加外协预算"{{action 'showAddProjectForm'}}> <a><span class="badge badge-success">添加外协预算</span></a> </li>
      <li class="col-left-curor" title="导入excl" {{action 'showAddSomeProjectForm'}}> <a><span class="badge badge-success">导入外协</span></a> </li>
    {{/if}}
    {{#if session.isAdmin}}
      <li class="col-left-curor" title="导入excl" {{action 'showAddSomeProjectForm'}}> <a><span class="badge badge-success">导入外协</span></a> </li>
    {{/if}}
  </div>
</div>

<div class="row" id="report-list">
  <div class="col-md-12 col-lg-12">
    <div>
      <table class="table table-striped table-bordered table-health-report">
        <thead>
        <tr>
          <th>小组名称</th>
          <th>小组负责人</th>
          <th>总金额（单位：万元）</th>
          <th>已用（单位：万元）</th>
          <th>剩余（单位：万元）</th>
          <th>预算开始时间</th>
          <th>预算截止时间</th>
          <th class="col-md-1 col-lg-1">操作</th>
        </tr>

        </thead>
        <tbody>
        {{#each showData as |treeValue|}}
          {{#if treeValue}}
            <tr>
              <td>{{treeValue.teamName}}</td>
              <td>{{treeValue.teamLeader}}</td>
              <td>{{treeValue.budget}}</td>
              <td>{{treeValue.usedBudget}}</td>
              <td>{{treeValue.leftBudget}}</td>
              <td>{{treeValue.beginTime}}</td>
              <td>{{treeValue.endTime}}</td>
              {{#if session.isAdmin}}
                <td><a {{action 'applyEmployee' treeValue}}><span class="badge badge-success">申请外协</span></a></td>
              {{/if}}
              {{#if session.isSuper}}
                <td><a {{action 'applyEmployee' treeValue}}><span class="badge badge-success">申请外协</span></a></td>
              {{/if}}
              {{#if session.isOrigin}}
                <td><a><p>暂无操作权限</p></a></td>
              {{/if}}
              {{#if session.isTeamLeader}}
                <td><a><p>暂无操作权限</p></a></td>
              {{/if}}
            </tr>
          {{/if}}
        {{/each}}
        </tbody>
      </table>
    </div>
    <div class="page-bar">
      <div class="filtered-info span4">
        <label>当前为第{{currentPage}}页<a href="#"></a></label>
      </div>
      <div class="selected-hosts-info span4"></div>
      <div class="items-on-page">
        <label>{{t 'common.show'}}:
          <select id="list-status" class="form-control-2" name="pagesize" onchange={{action "refreshPageSize"}}>
            <option value="10">10</option>
            <option value="50">50</option>
            <option value="100">100</option>
          </select>
        </label>
      </div>
      <div class="info">{{beginShowItem}}-{{endShowItem}} of {{loadDataLength}}</div>
      <div class="paging_two_button">
        <a class='paginate_previous' {{action 'pageDown'}} ><i class="glyphicon glyphicon-arrow-left" ></i></a>
        <a class='paginate_next' {{action 'pageUp'}}><i class="glyphicon glyphicon-arrow-right"></i></a>
      </div>
    </div>
  </div>
</div>





{{#pmo-modal modalId ="addProjectForm" addProject=addProject errorInfo=errorInfo  hEvent='doAddProject' }}
  <div class="modal-header" >
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">添加小组预算</h4>
  </div>

  <div class="modal-body form-modal">
    <div class="col-lg-12 col-md-12">
      <form role="form" id="addComputerFormId">
        <div class="form-group col-lg-6 col-md-6">
          <label>小组名称：</label>
          {{input value=addProject.teamName class="form-control"}}
        </div>
        <div class="form-group col-lg-6 col-md-6">
          <label>小组负责人：</label>
          {{input value=addProject.teamLeader class="form-control"}}
        </div>

        <div class="form-group col-lg-6 col-md-6">
          <label>总金额（单位：万元）：</label>
          {{input value=addProject.budget class="form-control"}}
        </div>
        <div class="form-group col-lg-6 col-md-6">
          <label>已用（单位：万元）：</label>
          {{input value=addProject.usedBudget class="form-control"}}
        </div>
        <div class="form-group col-lg-6 col-md-6">
          <label>预算开始时间：</label>
          {{date-picker date=addProject.beginTime valueFormat='YYYY-MM-DD' class="form-control"}}
        </div>
        <div class="form-group col-lg-6 col-md-6">
          <label>预算截止时间：</label>
          {{date-picker date=addProject.endTime valueFormat='YYYY-MM-DD' class="form-control"}}
        </div>



      </form>
    </div>
  </div>
{{/pmo-modal}}




